@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");

$primary-dark-cyan: hsl(158, 36%, 37%);
$primary-Cream: hsl(30, 38%, 92%);

$Very-dark-blue: hsl(212, 21%, 14%);
$Dark-grayish-blue: hsl(228, 12%, 48%);
$White: hsl(0, 0%, 100%);

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: $primary-Cream;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
}

.card {
	background-color: $White;
	margin: 20px;
	width: 330px;
	border-radius: 5%;
	display: flex;
	flex-direction: column;

	img {
		width: 330px;
		border-top-left-radius: 5%;
		border-top-right-radius: 5%;
	}

	.container {
		p.perfume {
			letter-spacing: 3px;
			margin-top: 15px;
			padding: 0 15px 0 15px;
			font-family: "Montserrat", sans-serif;
			font-weight: 500;
			color: $Dark-grayish-blue;
			font-size: 14px;
		}

		p.pbody {
			padding: 0 15px 0 15px;
			font-family: "Montserrat", sans-serif;
			font-weight: 500;
			color: $Dark-grayish-blue;
			font-size: 14px;
			margin-top: 15px;
		}

		h1 {
			padding: 0 15px 0 15px;
			font-family: "Fraunces", serif;
			margin-top: 10px;
		}

		.price {
			color: $primary-dark-cyan;
			font-family: "Fraunces", serif;
			font-size: 30px;
			display: inline-block;
			padding: 0 15px 0 15px;
			margin-top: 15px;
		}
		.discount {
			display: inline;
		}

		.button {
			display: inline-block;
			width: 300px;
			height: 40px;
			background-color: $primary-dark-cyan;
			display: flex;
			justify-content: center;
			align-items: center;
			margin: auto;
			margin: 15px auto 20px auto;
			border-radius: 5px;
		}

		a {
			color: $White;
			text-decoration: none;
			font-family: "Montserrat", sans-serif;
		}
	}
}

@media only screen and (min-width: 600px) {
	.card {
		flex-direction: row;
		align-items: center;
		justify-content: center;
		width: 510px;
	}
	img{
		border-radius: 5px 0 0 5px !important;
	}
	
	.mobile {
		display: none;
	}
	.desktop {
		display: block !important;
		width: 255px !important;
	}
	.button {
		width: 225px !important;
	}
}
